---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - example.com.example.com
  resources:
  - starburstaddons
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - example.com.example.com
  resources:
  - starburstaddons/finalizers
  verbs:
  - update
- apiGroups:
  - example.com.example.com
  resources:
  - starburstaddons/status
  verbs:
  - get
  - patch
  - update
# TODO do we need secrets at the cluster level??
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
