apiVersion: apps/v1
kind: Deployment
metadata:
  name: validate-enterprise-webhook
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: manager
        volumeMounts:
        - name: addon-vault
          mountPath: /opt/enterprise
          readOnly: true
      volumes:
      - name: addon-vault
        secret:
          secretName: starburst-addon
          defaultMode: 0755
